<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
  <mapper namespace="com.google.s5.notice.NoticeDAO">
  		<resultMap type="NoticeVO" id="selectResult">
  		<id column="num" property="num"/>
  		<result column="title" property="title"/>
  		<result column="writer" property="writer"/>
  		<result column="contents" property="contents" />
  		<result column="regDate" property="regDate"/>
  		<result column="hit" property="hit"/>
  		<!-- 1:N의 관계 --> <!-- 파일이 2개 들어갈 수 있도록 -->
  		<collection property="boardFileVOs" javaType="List" ofType="BoardFileVO">
  			<id column="fileNum" property="fileNum"/>
  			<result column="fileName" property="fileName"/>
  			<result column="oriName" property="oriName"/>
  			<result column="board" property="board"/>
  		</collection>
  		
<!--   		<association property="boardFileVOs" javaType="java.util.List">
  		private List<BoardFileVO> boardFileVOs; 멤버 변수명 적기
  			<result column="fileNum" property="fileNum"/>
  			안됨 왜? setfileNum 하는 식으로 하는데 boardfileVOs에서는 없음. 
  		</association> -->
  		
  		
  		</resultMap>
  		
  		
  		
  		<sql id="search">
  		like '%'||#{search}||'%'
  		</sql>	
  		<!-- 전체 글의 개수 -->
  		<select id="boardCount"  parameterType="Pager"  resultType="Long">
  		
  		
  		select count(num) from notice 
  		<where>
  			<if test="kind=='bt'">
  				Title <include refid="search"></include>
  			</if>
  			
  			<if test="kind=='bw'">
  			Writer <include refid="search"></include>
  			</if>
  			
  			<if test="kind=='bc'">
  			Contents <include refid="search"></include>
  			</if>
  			
  		</where>
		

  		
  		</select>

   	<select id="boardList" parameterType="Pager" resultType="NoticeVO">
		select * from
			(select N.*, rownum R from
				(select * from notice where 
				<choose>
					<when test="kind == 'bc'">
						contents
					</when>
					
					<when test="kind=='bt'">
						title
					</when>
					<otherwise>
						writer
					</otherwise>
				
				</choose>
				<include refid="search"></include> and num>=1 order by num desc) N)
				where R between #{startRow} and #{lastRow}
	</select>
			<!-- 컬럼명이나 테이블명을 #{}으로 쓸 수 없음, 오로지 값만 가능 -->
			<!-- 문자열 자체는 자체적으로 홑따옴표가 들어가 있음 
			1.게터나 세터에 % 를 쓴다
			2. 합치도록 || 입력-->
   			<!--  select * from notice order by num desc-->
   			<!-- select 문에 나오는 컬럼명과 일치해야 하는 것을 넣어야 한다. -->
   		
   		
   		
   		
  		<select id="boardSelect" parameterType="Long" resultMap="selectResult">

  			<!--  SELECT * from notice where num=#{num} -->
  			<!-- 세미콜론 붙이지 말것(주의) 파라미터 VO 컬럼명 모두 맞추기--> 		
  			<!-- select해서 두가지가 오는 것은 mapping이 안됨 -->
			select N.*,F.*
			from notice N left join boardFile F
			ON (N.num=F.num)
			WHERE N.num=#{num} 
			
			
  		</select>
  		
  		<select id="boardNum" resultType="Long">
  			select board_seq.nextval from dual
  		<!-- inset 하기 전에 가상의 테이블에서 먼저 시퀀스 번호를 가져온다 -->
  		</select>
  		
  		<insert id="boardWrite" parameterType="NoticeVO">
  			<!--  INSERT into notice values(board_seq.nextval,#{title},#{writer},#{contents},SYSDATE,0)-->
  			<!-- 위에서 가상의 테이블로 이미 num을 받아와서 num으로 바꿔준다 -->
  			INSERT into notice values(#{num},#{title},#{writer},#{contents},SYSDATE,0)
  			<!-- return 값이 인트인 것은 자동으로 받아준다. -->
  		</insert>

		<delete id="boardDelete" parameterType="Long"> <!-- 레퍼런트 클래스는 모두 여기에 있음 -->
		delete notice where num=#{num}
		</delete>
  
  		<update id="boardUpdate" parameterType="NoticeVO">
  		UPDATE notice set contents =#{contents}, title=#{title} where num=#{num}
  		</update>
  
  
    	<update id="hitUpdate" parameterType="Long">
  		UPDATE notice set hit=hit+1 where num=#{num}
  		</update>
  </mapper>