<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
 
 <mapper namespace="com.google.s5.qna.QnaDAO">
 <sql id="search">
   where 
  			 <choose>
  			 	<when test="kind=='bt'"> Title</when>
  			 	<when test="kind=='bw'">Writer</when>
	  			 <otherwise>
	  			 Contents
	  			 </otherwise>
  			 </choose>
  			like '%'||#{search}||'%'
 
 
 </sql>
 
 	
   <!-- list -->
  <select id="boardList" parameterType="Pager" resultType="QnaVO">
	select * from
		(select Q.*, rownum R from
		(select * from qna 
		<include refid="search"></include>
		order by ref desc, step asc) Q)
		where R between #{startRow} and #{lastRow}
 
 </select>
 
 <!-- 전체 글의 개수 -->
  		<select id="boardCount" parameterType="Pager" resultType="Long">
		select count(num) from qna
		<include refid="search"></include>
		</select>
  


 <!-- select -->
 <select id="boardSelect" parameterType="Long" resultType="QnaVO">
		select * from qna where num=#{num}
  			
  </select>
 
 <!-- write -->
 <insert id="boardWrite" parameterType="QnaVO">
  			INSERT into qna values(board_seq.nextval,#{title},#{writer},#{contents},SYSDATE,
  			0,
  			board_seq.currval,
  			0,
  			0)
  			<!-- currval는 nextval이 먼저 호출 되어야지만 쓸 수 있다. -->
</insert>
 <!-- update -->
 <update id="boardUpdate" parameterType="QnaVO">
  		UPDATE qna set contents =#{contents}, title=#{title} where num=#{num}
  </update>
  
   <!-- hitupdate -->
 <update id="hitUpdate" parameterType="Long">
  		UPDATE qna set hit=hit+1 where num=#{num}
</update>

 <!-- delete -->
 <delete id="boardDelete" parameterType="Long"> <!-- 레퍼런트 클래스는 모두 여기에 있음 -->
		delete qna where num=#{num}
</delete>
 
 <update id="boardReplyUpdate"  parameterType="QnaVO">
 update qna set step=step+1 where 
 ref=(select ref from qna where num=#{num}) 
 and
 step>(select step from qna where num=#{num})
 
 <!-- step ﻿﻿1. ref 값이 부모의 ref와 같은 것과 step이 부모의 step보다 큰 것들을 step+1 하고 나서 업데이트 -->
 </update>
 
 
 <insert id="boardReply" parameterType="QnaVO">
		insert into qna values(board_seq.nextval, #{title}, #{writer}, #{contents}, sysdate, 0,
		(select ref from qna where num=#{num}),
		(select step from qna where num=#{num})+1,
		(select depth from qna where num=#{num})+1
		)
	<!-- step ﻿2.  septh+1을 자기자신의 septh -->
 </insert>
 
 
 
 </mapper>